@import '../../../Styles/Variables';

.galerie {
  &__image {
    width: 220px;
    height: calc(50% - 60px);
    max-height: 290px;
    margin: 30px 30px;
    flex: 0 0 auto;
    position: relative;
    transition: opacity .3s ease-in-out;
    // overflow: hidden;
    &-hoverImg {
      width: 100%;
      height: 100%;
      background-color: rgba($color-black, .2);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      opacity: .5;
      transition: opacity .3s ease-in-out, transform .3s ease-in-out;
      transform: scale(.8);
      &::before,
      &::after {
        content: '';
        display: block;
        width: 40px;
        height: 2px;
        background-color: $color-secondary;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        opacity: .5;
        transition: width .3s ease-in-out, transform .3s ease-in-out;
      }
      &::after {
        transform: rotate(90deg);
      }
    }
    &:not(.galerie__image-open) {
      cursor: pointer;
      &:hover {
        .galerie__image-hoverImg {
          opacity: 1;
          transform: scale(1);
          &::before,
          &::after {
            width: 30px;
          }
          &::before {
            transform: rotate(90deg);
          }
          &::after {
            transform: rotate(180deg);
          }
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-paysage {
      width: 320px;
      height: initial;
    }
    &-open {
      position: relative;
      z-index: 100;
      opacity: 1;
      .galerie__image-hoverImg {
        opacity: 0;
      }
      img {
        transform: scale(1);
      }
    }
  }
}
