@import "tools/variables"

.menu
    background-color: #000000
    height: 100%
    opacity: 0
    padding: 50px
    position: fixed
    top: 0
    transform: translateX(100px)
    visibility: hidden
    width: 100%
    z-index: 100
    &::before
        background:    -moz-linear-gradient(left, rgba(0,0,0,1) 1%, rgba(0,0,0,1) 15%, rgba(0,0,0,0) 81%, rgba(0,0,0,0) 100%) /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0,0,0,1) 1%,rgba(0,0,0,1) 15%,rgba(0,0,0,0) 81%,rgba(0,0,0,0) 100%) /* Chrome10-25,Safari5.1-6 */
        background:         linear-gradient(to right, rgba(0,0,0,1) 1%,rgba(0,0,0,1) 15%,rgba(0,0,0,0) 81%,rgba(0,0,0,0) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        content: ''
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ) /* IE6-9 */
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
        z-index: 1

    .section_image__fullscreen
        opacity: .2
        z-index: -1

    &.menu__open
        opacity: 1
        transition: visibility 0s ease, opacity .3s ease-in-out .1s
        visibility: visible

    &__close
        margin: 7px 0 0 10px

    &__content
        align-items: flex-start
        display: flex
        flex-flow: column wrap
        height: 100%
        justify-content: center
        position: relative
        z-index: 2
        h2
            align-items: flex-start
            display: flex
            flex-flow: row wrap
            justify-content: flex-start

        ul
            li
                list-style: none
                margin: 6px 0
                a
                    color: $color-secondary
                    display: inline-block
                    overflow: hidden
                    &:hover,
                    &.active
                        .text__menu
                            &-chapter
                                transition-delay: 0s
                            &-element
                                transition-delay: .1s
                            &-element,
                            &-chapter
                                transform: translateY(calc(-100% - 10px))

        .text__menu
            &-chapter,
            &-element
                color: rgba(darken($color-secondary, 20%), .5)
                display: inline-block
                position: relative
                transition: transform .6s ease-in-out
                &::before
                    content: attr(data-content)
                    display: block
                    left: 0
                    position: absolute
                    top: calc(100% + 10px)
                    width: 100%
            &-element
                transition-delay: 0s
                &::before
                    color: $color-secondary
            &-chapter
                margin-right: 10px
                transition-delay: .1s
                &::before
                    color: $color-primary
