@import '../../../Styles/Variables';

.galerie {
  &__title {
    width: 300px;
    height: 200px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 30px 30px;
    h3 {
      text-align: center;
      opacity: .5;
      font-size: 25px;
    }
  }
}
