@import '../../../Styles/Variables';

.headerExp {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 3;
  top: $padding;
  &__map {
    width: 65px;
    height: 65px;
    appearance: none;
    background: rgba(#49403A, .5);
    color: $color-secondary;
    border: 1px solid rgba(#F6F6F6, .3);
    border-radius: 2px;
    cursor: pointer;
    overflow: hidden;
    &:hover,
    &:focus {
      background: rgba($color-black, 1);
      outline: none;
    }
    svg {
      width: 100%;
      path {
        background-color: rgba(#F6F6F6, .3);
      }
    }
  }
}

#headerExp {
  &-left {
    left: $padding;
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    width: 40px;
    height: 40px;
    // position: relative;
    svg {
      width: 100%;
    }
  }
  &-right {
    right: $padding;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-end;
    p {
      text-align: right;
      font-family: $font-titles;
      text-transform: uppercase;
      font-size: 13px;
      letter-spacing: 3px;
      margin-right: 10px;
    }
    span {
      display: block;
      &.white {
        line-height: 16px;
        letter-spacing: 2px;
      }
      &.red {
        font-size: 12px;
        font-family: $font-subtitles;
        color: $color-primary;
      }
    }
  }
}
