@import '../../../Styles/Variables';

#introduction {
  .content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    // padding: 20px 0;
  }
  .container {
    height: 100%;
    display: flex;
    padding: 0;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .block {
    height: 100%;
    width: 700px;
    flex: 0 0 auto;
    padding: 20px;
  }
}

.square {
  &-red {
    background-color: $color-primary;
  }
  &-blue {
    background-color: $color-secondary;
  }
}
