@import '../../../Styles/Variables';

.player {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba($color-secondary, 1);
  border-radius: 30px;
  // opacity: 0;
  // pointer-events: none;
  &.visible {
    opacity: 1;
    pointer-events: inherit;
  }
  &.pause {
    &::before,
    &::after {
      content: '';
      display: block;
      width: 10%;
      height: 50%;
      background-color: $color-primary;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    &::before {
      right: 7px;
    }
    &::after {
      left: 7px;
    }
  }
  &.play {
    &::before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7.5px 0 7.5px 13.0px;
      border-color: transparent transparent transparent $color-primary;
      line-height: 0;
      _border-color: #000 #000 #000 #FFF;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
  svg {
    position: relative;
    z-index: 2;
  }
  &__back {
    stroke: rgba($color-secondary, .3);
    stroke-width: 2;
    fill-opacity: 0;
  }
  &__front {
    stroke: $color-primary;
    stroke-width: 2;
    fill-opacity: 0;
    transition: stroke-dasharray 1s linear;
  }
}


.headerExp-left--time {
  width: 190px;
  height: 95%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  left: 2px;
  padding-left: 100%;
  background-color: darken($color-white, 10%);
  line-height: 40px;
  border-radius: 35px;
  opacity: 0;
  transform: translateX(-10px);
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  &.active {
    opacity: 1;
    transform: translateX(0);
  }
  p {
    color: $color-black;
    letter-spacing: 2px;
  }
}
