@import '../../../Styles/Variables';

.player {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba($color-secondary, .3);
  border-radius: 30px;
  &.pause {
    &::before,
    &::after {
      content: '';
      display: block;
      width: 10%;
      height: 50%;
      background-color: $color-secondary;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    &::before {
      right: 7px;
    }
    &::after {
      left: 7px;
    }
  }
  &.play {
    &::before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7.5px 0 7.5px 13.0px;
      border-color: transparent transparent transparent #FFF;
      line-height: 0;
      _border-color: #000 #000 #000 #FFF;
      _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
  &__back {
    stroke: rgba($color-secondary, .3);
    stroke-width: 2;
    fill-opacity: 0;
  }
  &__front {
    stroke: $color-primary;
    stroke-width: 2;
    fill-opacity: 0;
    transition: stroke-dasharray 1s linear;
  }
}


.headerExp-left--time {
  width: 120px;
  height: 36px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  left: calc(100% + 10px);
  background-color: rgba($color-secondary, .3);
  line-height: 36px;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
  opacity: 0;
  transform: translateX(-10px);
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  &.active {
    opacity: 1;
    transform: translateX(0);
  }
  p {
    color: $color-secondary;
    letter-spacing: 2px;
  }
}
