@import '../../../Styles/Variables';

.quiz-question {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  &__question {
    margin: 50px 0 0;
  }
  &__responses {
    margin: 50px 0;
    li {
      list-style: none;
      padding: 20px 0 20px 50px;
      position: relative;

      label {
        font-family: $font-regular;
        color: $color-secondary;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: .7px;
        padding-left: 10px;
        &::before {
          content: attr(data-response);
          display: block;
          color: $color-secondary;
          font-family: $font-titles;
          font-size: 16px;
          position: absolute;
          width: 40px;
          height: 40px;
          text-align: center;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          border-radius: 3px;
          background: rgba(#49403A, .5);
          border: 1px solid rgba(#F6F6F6, .3);
          line-height: 40px;
          cursor: pointer;
          transition: color .3s ease-in-out,background .3s ease-in-out, border .3s ease-in-out;
        }
      }

      input {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        opacity: 0;
        z-index: 2;
        border: 1px solid blue;
        width: 50px;
        height: 50px;
        cursor: pointer;
        &:hover + label::before {
          background: rgba(#49403A, .8);
          border: 1px solid rgba(#F6F6F6, .3);
        }
        &:checked + label::before {
          color: $color-black;
          background-color: $color-secondary;
          border: 1px solid rgba($color-secondary, .3);
        }
      }
    }
  }
  &__good {
    li {
      input {
        &:hover + label::before,
        &:focus + label::before {
          background: rgba(#49403A, .5);
          border: 1px solid rgba(#F6F6F6, .3);
        }
        &:checked + label::before {
          background: #B3FCA1;
          border: 1px solid #B3FCA1;
        }
      }
    }
  }
  &__bad {
    li {
      input {
        &:hover + label::before,
        &:focus + label::before {
          background: rgba(#49403A, .5);
          border: 1px solid rgba(#F6F6F6, .3);
        }
        &:checked + label::before {
          background: $color-primary;
          border: 1px solid $color-primary;
        }
      }
    }
  }
  &__good_Response {
    input + label,
    input:hover + label,
    input:focus + label {
      &::before {
        background: #B3FCA1 !important;
        border: 1px solid #B3FCA1 !important;
        color: $color-black !important;
      }
    }
  }
  .quiz-screen__desc {
    margin: 0;
  }
}
