.section_video-interactive
    .section_content-interactive
        &__content
            padding-right: 45px
            position: relative
        &__cross
            position: absolute
            right: 20px
            top: 20px

    .section_video
        display: inline-block
        height: 60%
        width: auto
        video
            height: 100%
            width:  auto

    .section_video-youtube
        height: 300px
