@import "tools/variables"

.codex__home
    &--element
        border: 1px solid $color-black
        border-radius: 5px
        cursor: pointer
        padding: 10px
        transition: background-color .2s ease-in-out
        &:not(:last-child)
            margin-bottom: 10px

        &.active,
        &:hover
            background-color: $color-black

        p, span
            text-align: left

        .form-button-exp__text--title
            color: $color-secondary
