@import '../../../Styles/Variables';

.codex {
  &__definition {
    width: 350px;
    height: 100%;
    padding: 20px;
    background-color: rgba(#000, .98);
    position: relative;
    z-index: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    &--content {
      p {
        margin: 30px 0;
      }
    }
    img {
      width: 100%;
    }
  }
}
