@import "../../../../assets/stylesheets/tools/variables"

.pageContent
    .content
        &__imageSlider
            align-items: center
            background-color: $color-black
            display: flex
            flex: 0 0 auto
            flex-flow: column wrap
            height: 100%
            justify-content: center
            position: relative
            width: 100vw
            &-container
                height: 100%
                overflow: hidden
                position: relative
                width: 60%

            &-content
                height: auto
                left: 0
                position: absolute
                top: 25px
                &_image
                    align-items: center
                    cursor: pointer
                    display: flex
                    height: 500px
                    justify-content: center
                    margin: 50px 0
                    width: 100%

            img
                height: 100%
                object-fit: cover
                width: 100%
